/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000cc;
}

a {
  text-decoration: none;
}

/* Promo Container */
.promo-container { 
  background: rgba(255, 224, 167, 0.675);
  background: linear-gradient(
      167deg,
      #ffff02bd 0%, 
      rgb(255, 165, 48) 100%
  );
  border-radius: 4px;
}

.promo-container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* Category Button */
.category-btn {
  border: none;
  background-color: #ff7113; /* Color 2 */ 
  border-radius: 4px;
}

/* Product Container */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.product-container div {
  padding: 40px 30px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #000000; /* Light gray color for the background */
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;        
  cursor: pointer;
}

.product-container div:hover {
  background-color: #eb742482; /* Color 2 */
  border-color: #efc143; /* Change border color on hover */
}

.product-container img {
  border-radius: 4px;
  height: 200px;
  width: 500px;
}

.product-container a{
  color: white;
  font-size: larger;
  font-weight: bolder;
}

.product-container p {
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.product-container .product-price {
  color: rgb(228, 219, 219);
  text-align: justify;
  font-size: 15px;
}

.product-container h5 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

/* Top Header */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #121416; /* Color 3 */
  color: white; /* Text color set to white */
}

/* Dropdown Menu */
.menu-toggle .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #121416; /* Color 3 */
  border: 1px solid #ccc;
  z-index: 1000;
}

.menu-toggle:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f0bc5b; /* Color 2 */
}

/* Main Navigation */
.main-header {
  background-color: #121416; /* Color 3 */
  padding: 10px 0;
  border-bottom: 3px solid  rgb(170, 167, 167);
}

.main-header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.main-header nav ul li {
  margin: 0 20px;
}

.main-header nav ul li a {
  text-decoration: none;
  color: white; /* Text color set to white */
  font-size: 18px;
  transition: color 0.3s, border-bottom 0.3s; /* Smooth transition for hover effects */
  padding-bottom: 5px; /* Space for border effect */
  border-bottom: 2px solid transparent; /* Bottom border effect */
}

.main-header nav ul li a:hover {
  color: #eb7324; /* Color 2 */
  border-bottom: 2px solid #eb7324; /* Border color on hover */
}

/* Category Sidebar */
.categories {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
      167deg,
      #02020283 0%, 
      rgba(255, 255, 255, 0.642) 100%
  );
  height: 200px;
  color: rgb(255, 141, 34);
  border-radius: 12px;
}

.categories h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories ul li {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.categories ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255); /* Text color set to white */
}

.categories ul li a:hover {
  text-decoration: underline;
}

.category-chip {
  background-color: rgba(245, 183, 68, 0.938); /* Color 2 */
  border-radius: 4px;
  padding: 5px;
  margin-top: 4px;
}

/* Responsive Styles */
@media only screen and (max-width: 759px) {
  .feature-product-container {
    display: flex;
  }
  .categories {
    margin-bottom: 8px;
  }
}
